{% extends "base.html" %}
{% load static %}

{% block title %}Lista de livros{% endblock %}
{% block card %}{{ qtd_carrinho }}{% endblock %}
{% load filters %}
{% block content %}
<h1>Meu carrinho</h1>
{% if messages %} {% for message in messages %}
    <br />
    <section class="alert {{message.tags}}">{{ message }}</section>
{% endfor %} {% endif %}
<table class="table">
    <thead class="table-light">
        <th>Thumbnail</th>
        <th>Título</th>
        <th>Quantidade</th>
        <th>Valor</th>
        <th>Acções</th>
    </thead>
    <tbody>
        {% for item in items %}
        <tr>
            <td>
                <img src="{{item.thumbnail}}" alt="thumbnail" width="40" height="60">
            </td>
            <td>{{item.title}}</td>
            <td>{{item.quantidade}}</td>
            <td>{{item.valor|multiply:item.quantidade}}</td>
            <td>
                <a href="{% url 'adicionar_item' item.livro_id %}" style="padding: 7px; cursor: pointer; font-size: 20px" title="Adicionar ao carrinho">
                    <i style="color: green" class="bi bi-plus-square"></i>
                </a>
                <a href="{% url 'remover_item' item.livro_id %}" style="padding: 8px; cursor: pointer; font-size: 20px" title="Visualizar os detalhes">
                    <i style="color: red" class="bi bi-dash-square"></i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <div style="display: flex; align-items: center; justify-content: space-between;">
        <h3>Total:</h3>
        <h3>{{valor_total}}</h3>
        <form style="display: flex; gap: 2rem;" method="post" enctype="multipart/form-data" action="{% url 'compras' %}"> {% csrf_token %}
            <button class="btn btn-primary" type="submit">Finalizar Comrpa</button>
            <a href="{% url 'limpar_carrinho' %}" class="btn btn-danger">Limpar Carrinho</a>
        </form>
    </div>    
{% endblock %}